<!DOCTYPE html>
<html lang="en">
<head>
    <title>State of the Union 2013 : NPR</title>
	<meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <base target="_top" />

    {{ CSS.push('less/hp.less') }}
    {{ CSS.render('css/hp.min.css') }}

    <base target="_top" />
</head>
<body>

	<div id="schedule">
		<h3><a href="http://apps.npr.org/state-of-the-union/#chat">Coming Up</a></h3>
		<ul>
            <li><strong>8:30 p.m.:</strong><br/>NPR's live chat begins</li>
            <li><strong>9 p.m.:</strong><br />President Obama delivers his address to a joint session of Congress on Capitol Hill.</li>
            <li><strong>Following the President's speech:</strong><br />TKTK delivers the Republican response from TKTK</li>
        </ul>
	</div>

</body>
</html>
