{% extends '_base.html' %}

{% block extra_css %}
    {{ CSS.push('less/app-radio.less') }}
    {{ CSS.push('less/app-chat.less') }}
    {{ CSS.push('less/app-mr-president.less') }}
{% endblock %}

{% block top_content %}
    <h1>State Of The Union 2013</h1>
    {% include '_radio.html' %}
{% endblock %}

{% block modal_link %}
  <div id="modal-schedule-link">
      <a href="#schedule" class="visible-phone" data-toggle="modal">Tonight's schedule &rsaquo;</a>
  </div>
{% endblock %}

{% block main_content %}

    <div id="live-chat"></div>

    <div id="schedule" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="schedule" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3>State of the Union Schedule</h3>
        </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
{% endblock %}

{% block extra_foot_js %}
    {{ JS.push('js/lib/jquery.smooth-scroll.js') }}
    {{ JS.push('js/auth.js') }}
    {{ JS.push('js/app-radio.js') }}
    {{ JS.push('js/chat.js') }}
{% endblock %}
